.transactions {
    display: flex;
    flex-direction: column; /* Stack transactions vertically */
    margin-left: 20px; /* Space between card details and transactions */
}
.toggle-transactions-button {
    background-color: #007bff; /* Button background */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 5px 10px; /* Padding */
    margin-bottom: 10px; /* Margin below the button */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.toggle-transactions-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.transaction-info {
    margin-top: 10px; /* Space above transaction info */
    padding: 10px; /* Padding for better readability */
    background-color: rgba(255, 255, 255, 0.1); /* Light background for contrast */
    border-radius: 5px; /* Rounded corners */
}
.transaction-summary {
    display: flex; /* Flexbox for transaction summary */
    justify-content: space-between; /* Space between type and amount */
}


.transaction-info h4 {
    margin: 0; /* Remove margin from heading */
    color: #e0e0e0; /* Heading color */
}

.transaction-info ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.transaction-info li {
    margin: 5px 0; /* Space between transaction items */
}
.transactions-container {
    margin-top: 20px; /* Space above the transactions */
}
/* src/components/TransactionFilter.css */
.transaction-filter {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Space below the filter */
}

.transaction-filter select {
    margin-left: 10px; /* Space between label and select */
    padding: 5px; /* Padding for the dropdown */
    font-size: 1em; /* Font size */
}

.custom-date-picker {
    display: flex;
    gap: 10px; /* Space between date inputs */
    margin-left: 10px; /* Space between dropdown and date inputs */
}
.download-button {
    margin: 10px 0; /* Margin for spacing */
    padding: 8px 12px; /* Padding for better appearance */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.download-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
